certifi==2017.4.17
chardet==3.0.4
click==6.7
coreapi==2.3.1
coreschema==0.0.4
decorator==4.0.11
Django==1.11.2
django-crispy-forms==1.6.1
django-extensions==1.7.9
django-filter==1.0.4
django-guardian==1.4.8
django-webpack-loader==0.5.0
djangorestframework==3.6.3
gitdb2==2.0.2
GitPython==2.1.5
httpie==0.9.9
idna==2.5
ipdb==0.10.3
ipython==6.1.0
ipython-genutils==0.2.0
itypes==1.1.0
jedi==0.10.2
Jinja2==2.9.6
lxml==4.6.5
Markdown==2.6.8
MarkupSafe==1.0
optional-django==0.3.0
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.14
ptyprocess==0.5.1
Pygments==2.2.0
pysha3==1.0.2
PySocks==1.6.7
python-bitcoinlib==0.7.0
pytz==2017.2
requests==2.18.1
simplegeneric==0.8.1
six==1.10.0
smmap2==2.0.3
traitlets==4.3.2
uritemplate==3.0.0
urllib3==1.21.1
wcwidth==0.1.7
webpack==6.0.0
