{% load render_bundle from webpack_loader %}
{% load static %}
<!doctype html>

<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">

		<title>BlockStamp | Blockchain Timestamp</title>

		<meta name="description" content="Blockchain based web archive timestamp">
		<meta name="keywords"    content="bitcoin, blockchain, timestamp, opentimestamps, archive">

        <link rel="stylesheet" href="{% static "stamper/css/foundation.css" %}">
        <link rel="stylesheet" href="{% static "stamper/css/app.css" %}">
	</head>
    <body>

        <div class="row">
            <div class="large-12 columns">

                <div id="content">
                </div>
                {% render_bundle 'main' %}

                <hr>
                <footer>
                    <div id="share">
                        <div class="fb-like" data-href="http://blockstamp.merkleblock.com/" data-send="false" data-layout="button_count" data-width="105" data-show-faces="false" style="margin-bottom: 4px;"></div>
                        <div><a href="http://twitter.com/share" class="twitter-share-button" data-url="http://blockstamp.merkleblock.com/" data-text="#Bitcoin QR Code Generator" data-count="horizontal">Tweet</a></div>
                        <div class="g-plusone" data-href="http://blockstamp.merkleblock.com/" data-size="medium" data-count="true"></div>
                    </div>

                    By <a href="http://tuxcanfly.me"><b>@tuxcanfly</b></a>. Donate Bitcoin: 1721T12JxqgMiKwf8jp1VH1BdyrRseWbpE<em>&mdash; Thanks!</em>

                    <br><br>

                    <img src="{% static "stamper/img/btc.png" %}" width="80" height="80" />
                    <footer>
            </div>

            <a id="fork" href="https://github.com/tuxcanfly/blockstamp">Fork me on Github</a>
        </div>

        <!-- Twitter -->
        <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        <!-- Google Plus -->
        <link href="https://plus.google.com/" rel="publisher"/>

        <script type="text/javascript">
            (function()
                {var po = document.createElement("script");
                po.type = "text/javascript"; po.async = true;po.src = "https://apis.google.com/js/plusone.js";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(po, s);
            })();
        </script>

        <script type="text/javascript">
            (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
        </script>

        <!-- Facebook -->
        <div id="fb-root"></div>

        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    </body>
</html>
