{% load render_bundle from webpack_loader %}
{% load static %}
<!doctype html>

<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">

		<title>BlockStamp | Blockchain Timestamp</title>

		<meta name="description" content="Blockchain based web archive timestamp">
		<meta name="keywords"    content="bitcoin, blockchain, timestamp, opentimestamps, archive">

        <link rel="stylesheet" href="{% static "stamper/css/foundation.css" %}">
        <link rel="stylesheet" href="{% static "stamper/css/app.css" %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css" />
	</head>
    <body>

        <div class="row">
            <div class="large-12 columns">
                <div id="content">
                </div>
                {% render_bundle 'main' %}

                <hr>
                <footer>
                    <div id="share">
                        <div><a class="github-button" href="https://github.com/tuxcanfly/blockstamp" aria-label="Star tuxcanfly/blockstamp on GitHub">Star</a></div>
                        <div><a href="http://twitter.com/share" class="twitter-share-button" data-url="http://blockstamp.merkleblock.com/" data-text="#Bitcoin QR Code Generator" data-count="horizontal">Tweet</a></div>
                        <div class="g-plusone" data-href="http://blockstamp.merkleblock.com/" data-size="medium" data-count="true"></div>
                    </div>

                    By <a href="http://tuxcanfly.me"><b>@tuxcanfly</b></a>. Donate Bitcoin: 1721T12JxqgMiKwf8jp1VH1BdyrRseWbpE<em>&mdash; Thanks!</em>

                    <br><br>

                    <img src="{% static "stamper/img/btc.png" %}" width="80" height="80" />
                <footer>
            </div>
        </div>

        <!-- GitHub -->
        <script async defer src="https://buttons.github.io/buttons.js"></script>
        <!-- Twitter -->
        <script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>
        <!-- Google Plus -->
        <link href="https://plus.google.com/" rel="publisher"/>

        <script type="text/javascript">
            (function()
                {var po = document.createElement("script");
                po.type = "text/javascript"; po.async = true;po.src = "https://apis.google.com/js/plusone.js";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(po, s);
            })();
        </script>
    </body>
</html>
